#container main a {
  text-decoration: underline;
  text-decoration-color: red;
  text-decoration-thickness: 2px;
}

#container main h1 a {
  text-decoration: initial;
  text-decoration-color: initial;
}

#container main section.post-nav a {
  text-decoration: initial;
  text-decoration-color: initial;
}

#container main article ul code {
  padding: 0.2em;
  background-color: #d03232;
  font-size: 0.9em;
}

#container main article ol code {
  padding: 0.2em;
  background-color: #d03232;
  font-size: 0.9em;
}